@media only screen and (max-width: 600px) {
	.mobile-hero-header {
		padding-top: 30% !important;
		color: white;
		font-weight: 700;
		font-style: normal;
		font-size: 28px;
	}

	.mobile-hero-subheader {
		font-weight: 400;
		font-size: 16px !important;
		color: white;
	}

	.mobile-img-tile-search {
		padding-top: 4px !important;
		width: 90px;
		height: 90px;
	}

	.mobile-img-tile {
		padding-top: 4px !important;
		width: 90px;
		height: 90px;
	}

	.mobile-h1 {
		font-size: 32px;
	}

	.mobile-h2 {
		font-size: 20px;
	}


	.mobile-p-lead {
		font-size: 16px;
	}

    .profile-picture-mobile {
      width: 100px;
    }

}
